TIDB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=3oXjWnNZDS3JnYR.root
TIDB_PASSWORD=XiuLHlOayo0ZuUYu
TIDB_DB_NAME=test

CLOUDINARY_CLOUD_NAME=dq2lgc6nv
CLOUDINARY_API_KEY=891252827473841
CLOUDINARY_API_SECRET=lTxBa6edSuVYxz_imqmmxRv6_Ik

RESEND_API_KEY=re_dgeFp9j4_CRpTKhbjgeSpU1RhTbaT6ATr
FLASK_SECRET_KEY=portofolio_rahasia_yosua